.app-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 5rem;
    background-color: #000000;
    margin-block-end: -8px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr minmax(360px, 2fr) 1fr;
    grid-template-areas: "left center right";
    align-items: center;
    width: 100%;
    max-width: none;
    gap: .6rem;
}

.footer-left {
    grid-area: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 0;

    .current-song-container {
        grid-auto-flow: column;
        min-height: 56px;
        margin-inline-start: 8px;
        margin-block-end: 8px;
        gap: 16px;

        .current-song-image {
            height: 56px;
            width: 56px;

            img {
                height: 100%;
                width: 100%;
                border-radius: 4px;
                object-fit: cover;
            }
        }

        .current-song-info {

            .current-song-title {
                align-self: end;
                color: var(--white);
            }

            .current-song-artist {
                font-size: 0.875rem;
            }
        }

        .btn-add-current-song {
            height: 18px;
            width: 18px;
            margin: 0 0 0 6px;
            padding: 1px;
            align-self: center;
        }

    }
}

.footer-center.grid {
    min-width: 0;
    padding-block-end: 8px;
    gap: 6px;

    grid-template-rows: auto auto;
    justify-items: center;
    align-items: center;
    grid-area: center;

    .progress-container {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 4px;
        width: 684px;
        max-width: 700px;
        margin-block-end: 2px;
    }

    .time {
        font-size: 12px;
        color: #cfcfcf;
        font-weight: 500;
        min-width: 35px;
        text-align: center;
    }

    .media-controls {
        display: flex;
        align-items: center;
    }


}

.control-btn {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .14);
    color: #fff;
    border-radius: 999px;
    padding: .35rem .55rem;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    flex: 1;

    &.previous {
        margin: 8px 8px 8px 4px;
    }

    &.next {
        margin: 8px 4px 8px 8px;
    }
}

.control-btn:hover {
    /* background-color: rgba(255, 255, 255, 0.1); */
    transform: scale(1.05);
}


.media-controls .play-pause img {
    height: 100%;
    width: 60%;
    margin: 0 16px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(1) contrast(1);
}

.footer-right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 0;
    margin-block-end: 10px;
    margin-inline-end: -6px;
}



.right-controls {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.right-controls .control-btn {
    border: none;
    background: transparent;
    padding: 0;
    display: grid;
    place-items: center;
}

.right-controls .control-btn img {
    width: var(--spacepx-sm);
    height: var(--spacepx-sm);
}

.media-controls.control.btn.play-pause img {
    height: 100%;
    width: 80%;
}

.media-controls .control-btn img {
    width: var(--spacepx-sm);
    height: var(--spacepx-sm);
}


.active-dot {
    width: 6px;
    height: 6px;
    background: #1db954;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}

.volume-control {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.volume-slider {
    width: 120px;
    height: 4px;
    background: #4d4d4d;
    border-radius: 999px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}


.media-player {
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.player-placeholder {
    display: none;
}

@media (max-width: 680px) {
    .app-footer .footer-content {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "left right"
            "center center";
        row-gap: .8rem;
    }

    .media-controls {
        gap: .6rem;
    }

    .progress-container {
        max-width: 500px;
    }

    /* .volume-slider {
        width: 80px;
    } */
}