.edit-station-modal-overlay {
  position: fixed;
  width: 524px;
  height: 384px;

  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .edit-station-modal-container {
    width: 100%;
    height: 100%;
    padding: 24px;

    background: var(--clr4);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 0.3s ease-in-out;

    .edit-station-modal-header,
    .edit-station-modal-footer {
      padding: 0;
      margin: 0;
      font-weight: bold;
      align-items: flex-start;

    }

    .edit-station-modal-header {
      height: 50px;
      justify-content: space-between;

      .btn-edit-close-modal {
        padding: 0;
      }

      h2 {
        margin: 0;
      }
    }

    .edit-station-main {
      height: 100%;
      width: 100%;
      gap: var(--spacepx-sm);

      grid-template-columns: 180px 1fr;
      grid-template-rows: 40px 120px auto auto;
      grid-template-areas:
        "album-image title"
        "album-image description"
        ". save-button"
        "disclaimer disclaimer";

      .btn-edit-station-img-container {
        height: 180px;
        width: 180px;
        grid-row: span 2;
        grid-area: album-image;

        .btn-edit-station-img {
          position: relative;
          height: 180px;
          width: 180px;
          background-size: cover;
          place-items: center;

          :first-child {
            position: absolute;
            width: calc(var(--spacepx-sm)*3);
            height: calc(var(--spacepx-sm)*3);
            color: var(--gray3);

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .edit-station-img-hover-text {
              position: absolute;
              width: 80%;
              margin: 0;
              inset-block-end: 18px;

              bottom: 25%;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0;

              &:hover {

                >* {
                  color: var(--gray1);
                }

                .hover-text {
                  opacity: 1;
                }
              }
            }
          }
        }
      }

      .station-name {
        height: fit-content;
        min-height: 40px;
        grid-area: title;
      }

      .station-description {
        margin-bottom: -4px;
        grid-column: 2;
        grid-area: description;
      }

      .btn-save-station {
        grid-area: save-button;
      }

      .station-disclaimer {
        grid-area: disclaimer;
      }
    }
  }
}