.sidenav-container {
    width: 420px;
    height: 100%;
    grid-column: 1;
    border-radius: var(--spacerem-s);
    background-color: var(--clr4);

    *> {
        width: calc(100% - 2 * var(--spacepx-s));
        margin: 0 auto;
    }

    &.collapsed {
        width: 72px;

        .station-name,
        .station-playlist {
            display: none;
        }

        .sidenav-header {
            height: fit-content;
            align-items: center;
            flex-direction: column;

            margin-block: -2px 15px;
            gap: 26px;

            .btn-create-station {
                display: grid;
                height: fit-content;
                width: fit-content;
                place-items: center;
                margin-block-end: 10px;
            }

            :first-child {
                height: calc(var(--spacerem-sm)*1.5);
            }

            :nth-child(2) {
                padding: var(--spacepx-s);
                border-radius: 50%;
                margin: 0;

                svg {
                    width: 1rem;
                    height: 1rem;
                    margin: 0;
                    padding: 0;
                }
            }
        }

        .sidenav-filter-sort {
            height: 0;
        }

        .button-playlist,
        .header-input {
            display: none;
        }

    }

    &.expanded {
        .sidenav-header {
            justify-content: space-between;
            align-items: start;
            padding: 12px var(--spacepx-sm) calc(var(--spacepx-sm) / 2);

            .btn-sidenav-toggle {
                font-size: var(--spacerem-sm);
                padding: var(--spacepx-s);
                margin: 0px 0 0 -6px;
                font-weight: bold;
                background-color: transparent;

            }

            .btn-create-station {
                justify-content: space-evenly;
                border-radius: calc(var(--spacerem-sm) *2);
                width: calc(var(--spacepx-sm) * 5);
                margin: 0 8px 0 0;
                width: 100px;
                font-weight: 800;
                height: 2.25rem;
                padding: 0.5rem 1rem;
                background-color: var(--clr2);
                gap: 6px;


                svg {
                    width: 16px;
                    flex-shrink: 0;
                }

                .btn-create-station-text {
                    display: grid;
                    font-size: 12px;
                    align-items: center;
                }

                &:hover {
                    transition: 0.3s;
                    background-color: var(--clr1)
                }

            }

        }

        .button-playlist {
            margin: 0px 0px 4px 10px;

            .playlist {
                padding: 8px 10px;
                border-radius: 9999px;
                background-color: white;
                color: black;
                font-weight: 400;
            }
        }

        .sidenav-filter-sort {
            height: 34px;
            justify-content: space-between;
        }

        .header-input {
            margin: 0px 0px 0px 16px;

            .input-svg-container {
                position: relative;

                >:nth-child(1) {
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    top: 7px;
                    color: white;
                    left: 5px;
                    margin-inline-start: 4px;
                }
            }

            input {
                color: whitesmoke;
                width: 46%;
                height: 32px;
                padding: 0 0px 0 32px;
                border-radius: 4px;

                font-size: 0.85rem;
                background-color: #242424;
                border: none;
            }
        }

    }

}

@media (max-width: 624px) {
    .sidenav-container {
        display: none;
    }
}