.side-nav-container {
    display: block;
    max-width: 420px;
    height: 100%;
    margin: 10px 10px 10px auto;
    background-color: var(--clr4);
    transition: width 0.3s ease;

    &.collapsed {
        width: 80px;
    }
}

@media (max-width: 624px) {
    .side-nav-container {
        display: none;
    }
}