.sidenav-container {
    width: 420px;
    height: 100%;
    grid-column: 1;
    border-radius: var(--spacerem-s);
    margin: var(--spacepx-s) var(--spacepx-s) var(--spacepx-s) auto;
    margin-inline-start: var(--spacepx-sm);
    background-color: var(--clr4);
    transition: width 0.3s ease;

    &.collapsed {
        width: 80px;

        .station-name,
        .station-playlist {
            display: none;
        }
    }

    .sidenav-header {
        justify-content: space-between;
        align-items: start;
        height: 103px;

        .btn-create-station {
            align-items: center;
            justify-content: space-evenly;
            border-radius: var(--spacerem-sm);
            width: calc(var(--spacepx-sm) * 5);

            svg {
                margin-inline-end: calc(var(--spacerem-sm) / 4);
            }
        }
    }

    *> {
        width: calc(100% - 2 * var(--spacepx-s));
        margin: 0 auto;
    }

    .sidenav-filter-sort {
        height: 34px;
        justify-content: space-between;
    }

    .user-list {
        width: calc(100% - 2 * var(--spacepx-s));
        height: calc(4* var(--spacepx-sm));
        border-radius: var(--spacerem-s);
        margin: 0 auto;

        li {
            display: grid;
            background-color: transparent;
            height: 100%;
            width: 100%;
            padding: 0;
            border-radius: var(--spacerem-s);
            grid-auto-flow: row;
            justify-content: space-between;

            &:hover {
                background-color: var(--clr2);
            }

            .station-preview {
                display: grid;

                grid-auto-flow: column;
                place-items: center;

                .svg-play {
                    place-self: center;

                    background-color: transparent;
                    inset-block-end: -37px;
                    inset-inline-start: 0;
                    transform: translate(-100%, -100%);
                    opacity: 1;

                    &:hover {
                        color: var(--clr3);
                    }
                }

                .station-picture {
                    height: calc(3* var(--spacepx-sm));
                    width: calc(3* var(--spacepx-sm));
                    border-radius: var(--spacerem-s);

                    margin: var(--spacepx-s);
                }

                /* .name {
                } */
            }
        }
    }
}

@media (max-width: 624px) {
    .sidenav-container {
        display: none;
    }
}

/* .station-list */
/* .station-preview */
/* .svg-play */
/* .station-picture */
/* .name */