.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    text-align: center;
    padding: calc(var(--spacepx-s) / 2) var(--spacepx-s);
    border-radius: var(--spacerem-s);
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s;
    white-space: nowrap;
    font-size: 0.75rem;
}

.tooltip-wrapper:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}