.user-list {
    width: calc(100% - var(--spacepx-sm));
    height: calc(4* var(--spacepx-sm));
    border-radius: var(--spacerem-s);
    margin: -27px auto;

    .user-station {
        display: flex;
        height: fit-content;
        width: 100%;
        border-radius: var(--spacerem-s);
        gap: 12px;
        padding: calc(var(--spacepx-sm) /2);
        background-color: transparent;
        cursor: pointer;

        &:hover {
            background-color: var(--clr2);

            .no-img-default {
                background-color: var(--clr3);
            }
        }

        .svg-play {
            place-self: center;

            background-color: transparent;
            inset-block-end: -37px;
            inset-inline-start: 0;
            transform: translate(-100%, -100%);
            opacity: 1;

            &:hover {
                color: var(--clr3);
            }
        }

        .user-station-img {
            height: calc(3* var(--spacepx-sm));
            width: calc(3* var(--spacepx-sm));
            border-radius: 4px;
            object-fit: cover;

        }

        .no-img-default {
            background-color: var(--clr1);

            svg {
                width: 50%;
                height: 50%;
                place-self: center;
            }
        }

        .user-station-details {
            flex-direction: column;
            gap: 2px;
            align-items: flex-start;
            justify-content: flex-end;

            /* .user-station-name {} */

            .user-station-playlist {
                color: var(--gray2);
                font-size: 0.875rem;

                .user-station-playlist-info {
                    margin: 0;
                }
            }
        }
    }
}

/* .user-list
    .user-station
    .station-picture
    .station-name
    .station-playlist */