/* Flex */
.flex {
    display: flex;

    >.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

/* Grid */
.grid {
    display: grid;
}

/* General */
/* .placeholder {
    background-color: blue;
} */

/* Simple and useful CSS Debugging Technique */
.debug * {
    outline: 1px solid gold
}