@font-face {
    font-family: spotify-heb;
    src: url(../../fonts/circularsp/circularsp-heb.woff2);
    unicode-range: U+0590-05FF;
}

@font-face {
    font-family: spotifymix-regular;
    src: url(../../fonts/spotify-mix-regular/spotifymixui-regular.woff2);
}

@font-face {
    font-family: spotifymix-title;
    src: url(../../fonts/spotify-mix-title/SpotifyMixUITitleVariable.woff2);
}

@font-face {
    font-family: spotifymix-bold;
    src: url(../../fonts/spotify-mix-bold/SpotifyMixUI-Bold.woff2);
}