@font-face {
    font-family: circularsp;
    src: url(../../fonts/circularsp/circularsp-heb.woff2);
}
@font-face {
    font-family: spotifymix;
    src: url(../../fonts/spotify-mix-regular/spotifymixui-regular.woff2);
}