.station-details {
    min-width: 500px;
    background-color: var(--clr4);
    border-radius: var(--spacerem-s);
    overflow: auto;

    .details-header-container {
        padding:
            calc(var(--spacepx-s)*2) calc(var(--spacepx-s)*2) calc(var(--spacepx-sm)*1.5) calc(var(--spacepx-sm)*1.5);
        border-start-start-radius: var(--spacerem-s);
        border-start-end-radius: var(--spacerem-s);
        gap: calc(var(--spacepx-sm)*1.5);
        background-color: var(--clr1);

        /* img */
        .btn-station-img-container {
            position: relative;
            width: 232px;
            height: 232px;
            border-radius: 4px;
            background-color: var(--clr2);
            text-align: center;

            .btn-station-img {
                position: absolute;
                color: var(--gray3);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                svg {
                    width: calc(var(--spacepx-sm)*4);
                    height: calc(var(--spacepx-sm)*4);
                }

                .station-img-edit-text {
                    position: absolute;
                    width: 250%;
                    margin: 0;
                    inset-block-end: 18px;

                    bottom: -60%;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    cursor: default;
                }

            }

            &:hover {

                >* {
                    color: var(--gray1);
                }

                .btn-station-img {
                    top: 48%;
                    left: 50%;
                    transform: translate(-48%, -50%);

                    svg {
                        width: calc(var(--spacepx-sm)*3);
                        height: calc(var(--spacepx-sm)*3);
                    }

                    .station-img-edit-text {
                        opacity: 1;
                    }
                }
            }
        }

        /* text */
        .details-header-text {
            height: fit-content;
            align-self: end;

            .details-station.station-name {
                margin: 0 0 8px 0;
                line-height: 1.2;
                font-size: calc(var(--spacerem-sm)*6);
                font-family: spotifymix-title;
                font-weight: 800;
            }

            .station-type,
            .station-creator {
                font-size: 0.875rem;
                margin: 0;
            }

            .station-creator {
                font-weight: bold;

                .station-details-info {
                    margin: 0;
                }
            }
        }
    }

    .station-details-controller {
        padding: calc(var(--spacepx-sm)*1.5);
        align-items: center;


        .svg-play {
            position: relative;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin-inline-end: 24px;
            background-color: var(--clr-green, #1db954);

            & svg {
                padding: 14px;
                cursor: pointer;
            }
        }

        .btn-context-menu {
            margin: 0;
            padding: 0;
            width: 2.125rem;
            height: 100%;
            color: var(--gray1);
            background-color: transparent;

            &svg {
                padding: 0;
            }

            &:hover {
                scale: var(--scale-s);
            }
        }
    }
}

.modal-delete-station {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-delete-station-container {
        background-color: var(--white);
        color: var(--clr5);
        padding: 2rem;
        border-radius: 0.5rem;
        width: 400px;
    }
}