.station-preview {
    color: var(--gray2);
    position: relative;

    >header {
        font-size: 1.2em;
        color: var(--gray1);
    }

    & p {
        margin-block: 1.2em 1.2em;
        font-size: .9em;
    }

    & img {
        border-radius: 7px;
        width: 171.5px;
        height: 171.5px
    }

    & svg {
        padding: 12px;
    }

    .svg-play {
        opacity: 0;
        position: absolute;
        bottom: 54px;
        right: 10px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: var(--clr-green, #1db954);
    }
}