.station-filter {
    display: grid;
    grid-template-columns: 1fr 5em 5em auto;
    align-items: center;
    gap: 0 .5em;

    background-color: var(--clr4);
    padding: .5em;

    & h3 {
        grid-column: 1 / -1;
        font-size: .9em;
        margin: 0;
        color: beige;
    }

    :not(h3) {
        cursor: pointer;
    }

    & input:is([type="text"], [type="number"]) {
        height: 1.8em;
        border: none;
        border-block-end: 1px solid var(--gray1);

        border-radius: 1em;
        padding: 1em;

        &:focus {
            outline: none;
            background-color: var(--gray1);
        }
    }
}
