.station-list {
    --min-column-size: 220px;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;

    & li {
        justify-content: center;
        place-items: center;
        height: 177.73px;
        width: 228.58px;
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content auto;
        padding: .5em;
        background-color: var(--clr2);

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }
}


.station-list-container {

    & .station-list {
        display: flex;
    }
        
    
}