.station-list {
    --min-column-size: 220px;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));
    gap: .5em;

    li {
        justify-content: center;
        place-items: center;
        height: 246.36px;
        width: 195.5px;
        cursor: pointer;
        display: grid;
        grid-template-columns: max-content auto;
        padding: .5em;
        /* background-color: var(--clr2); */
        border-radius: 10px;
        
        &:hover {
            background-color: var(--clr2, #1f1f1f);
            border-radius: 10px;

            .svg-play {
                opacity: 1;
                transition: 0.4s;
                transform: translateY(-7px);

                &:hover {
                    background-color: var(--clr-lightgreen, #1ed760);
                    scale: 1.05;
                }

            }
        }

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }

}

.station-list-container {
    flex-grow: 1;
    /* background-color: var(--gray2, #b3b3b3); */

    & .station-list {
        display: flex;
    }


}