@media (max-width: 624px) {
    .songs-list {

        .songs-list-header {
            display: none;
        }

        .songs-list-row.grid {

            .station-song-list-number,
            .station-song-list-album,
            .station-song-list-date,
            .station-song-list-duration {
                display: none;
            }

            .station-song-list-title {
                gap: 16px;

                .song-img {
                    object-fit: cover;
                }

                .station-song-info-text {
                    max-width: 50vw;
                }
            }
        }
    }
}

@media (min-width: 624px) {

    .songs-list-header,
    .songs-list-row {
        grid-template-columns: calc(var(--spacerem-s)*1.2) 53fr 42fr 25fr 10fr;
        padding-inline: var(--spacepx-sm);
        
        .song-list-number,
        .station-song-list-number {
            padding-inline-start: 4px;
        }
    }
    .songs-list-header {
        margin-block-end: 14px;
    }

    .songs-list-row {

        .station-song-list-title {

            img {
                margin-inline: 5px 12px;
            }
        }

        .song-list-title,
        .station-song-list-title {
            margin-inline-start: 4px;
        }
    }
}

.songs-list {
    /* padding-inline: calc(var(--spacepx-sm)*1.8); */
    padding: 0px 24px 0px 24px;

    /* only header */
    .songs-list-header {
        min-height: 36px;
        border-block-end: 1px solid var(--clr1);
        /* margin-block-end: calc(var(--spacepx-s)*2); */

        .song-list-duration {
            margin-inline-end: 10px;
            place-items: center;
            display: grid;

            svg {
                min-height: var(--spacerem-sm);
            }
        }
    }

    /* only row */
    .songs-list-row {
        min-height: calc(var(--spacerem-sm) * 3.375);

        .station-song-list-number {
            position: relative;

            svg {
                position: absolute;
                height: 20px;
                width: 20px;
                fill: white;

                top: 50%;
                left: 5px;
                transform: translate(-50%, -50%);
            }
        }

        .station-song-list-title {
            min-width: 200px;
            min-height: 44px;
            align-items: center;

            .station-song-info-text {
                .station-song-title {
                    /* min-width: 150px; */
                    font-size: 1rem;
                    white-space: nowrap;
                    color: var(--white);
                }

                .station-song-artist {
                    margin-block-end: 2px;
                    font-size: 0.875rem;
                    white-space: nowrap;
                }
            }
        }

        .station-song-list-duration {
            margin-inline-end: 8px;
        }

        &:hover {
            background-color: var(--clr1);

            .hover-btns-actions {
                gap: 53px;
                inset-inline-end: 5px;
                opacity: 1;
                pointer-events: auto;

                .btn-song-toggle-liked {
                    height: 22px;
                    width: 17px;
                    padding: 0;

                    &.check-positive {
                        color: var(--clr-green);
                    }
                }

                .btn-song-remove {
                    height: 22px;
                    width: 20px;
                    padding: 0;
                }
            }
        }
    }

    /* both header and row */
    .songs-list-header,
    .songs-list-row {
        position: relative;
        width: 100%;

        border-radius: 4px;

        grid-auto-flow: column;

        gap: var(--spacepx-sm);
        align-items: center;

        >* {
            font-size: calc(var(--spacerem-sm) * 0.875);
        }

        .song-list-number,
        .station-song-list-number {
            font-variant-numeric: tabular-nums;
            font-size: 1rem;
            justify-self: start;
        }

        .song-list-title,
        .station-song-list-title {
            justify-self: start;
            /* margin-inline-start: 4px; */
            gap: 12px;

            img {
                margin: 0;
            }
        }

        .song-list-album,
        .station-song-list-album {
            justify-self: start;
        }

        .song-list-date,
        .station-song-list-date {
            justify-self: start;
        }

        .song-list-duration,
        .station-song-list-duration {
            font-variant-numeric: tabular-nums;
            justify-self: end;
        }

        .song-list-display,
        .station-song-list-display {
            display: none;
        }

        .hover-btns-actions {
            position: absolute;
            inset-inline-end: 12px;
            gap: 8px;
            opacity: 1;
            pointer-events: none;

            >* {
                background-color: transparent;
            }
        }
    }
}