@media (max-width: 624px) {
    .station-details {
        .details-header-container {
            flex-direction: column;

            .btn-station-img-container {
                width: 65vw;
                aspect-ratio: 1;
                align-self: center;
            }

            .details-header-text {
                width: 100%;

                .station-type {
                    display: none;
                }

                .details-station.station-name {
                    font-size: 2rem;

                    .station-details-info {

                        &:nth-child(1) {
                            display: block;
                        }

                        &:nth-child(2) {
                            display: none;
                        }
                    }
                }
            }
        }

        .station-details-controller {
            justify-content: space-between;

            .btn-context-menu {
                svg {
                    transform: rotate(90deg);
                }
            }
        }
    }
}

@media (min-width: 624px) {
    .station-details {
        /* min-width: 500px; */
        width: 100%;

        .details-header-container {

            .btn-station-img-container {
                position: relative;
                max-width: 232px;
                width: 100%;
                max-height: 232px;
                height: auto;
                aspect-ratio: 1;
                border-radius: 4px;
                background-color: var(--clr2);
                text-align: center;
            }
        }
    }

    .details-station.station-name {
        /* font-size: calc(var(--spacerem-sm)*6); */
        font-size: clamp(2rem, 8vw, calc(var(--spacerem-sm)*6));
    }
}

.station-details {
    /* min-width: 500px; */
    background-color: var(--clr4);
    border-radius: var(--spacerem-s);
    overflow: auto;

    .details-header-container {
        padding: calc(var(--spacepx-s)*2) calc(var(--spacepx-s)*2) calc(var(--spacepx-sm)*1.5) calc(var(--spacepx-sm)*1.5);
        border-start-start-radius: var(--spacerem-s);
        border-start-end-radius: var(--spacerem-s);
        gap: calc(var(--spacepx-sm)*1.5);
        background-color: var(--clr1);

        /* img */
        .btn-station-img-container {
            position: relative;
            max-width: 232px;
            width: 100%;
            max-height: 232px;
            height: auto;
            aspect-ratio: 1;
            border-radius: 4px;
            background-color: var(--clr2);
            text-align: center;

            .btn-station-img {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                border-radius: 4px;
                position: relative;

                .station-img-edit {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    svg {
                        width: 64px;
                        height: 64px;
                    }

                    .station-img-edit-text {
                        margin-top: 0.5rem;
                        font-size: 0.875rem;
                        color: white;
                    }
                }
            }

            &:hover {

                >* {
                    color: var(--gray1);
                }

                .btn-station-img {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    svg {
                        width: calc(var(--spacepx-sm)*3);
                        height: calc(var(--spacepx-sm)*3);
                    }

                    .station-img-edit-text {
                        opacity: 1;
                    }
                }
            }
        }

        /* text */
        .details-header-text {
            height: fit-content;
            align-self: end;
            color: var(--white);

            .details-station.station-name {
                white-space: nowrap;
                margin: 0 0 8px 0;
                line-height: 1.2;

                font-family: spotifymix-title;
                font-weight: 800;
            }

            .station-type,
            .station-creator {
                font-size: 0.875rem;
                margin: 0;
            }

            .station-creator {
                font-weight: bold;

                .station-details-info {
                    margin: 0;

                    .station-info {
                        color: var(--gray2);
                    }
                }
            }
        }
    }

    .station-details-controller {
        padding: 24px 24px 20px 24px;
        /* padding: calc(var(--spacepx-sm)*1.5); */
        align-items: center;


        .svg-play {
            position: relative;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin-inline-end: 24px;
            background-color: var(--clr-green, #1db954);

            & svg {
                padding: 14px;
                cursor: pointer;
            }

            &:hover {
                scale: 1.05;
                background-color: var(--clr-lightgreen);
            }
        }

        .btn-context-menu {
            margin: 0;
            padding: 0;
            width: 2.125rem;
            height: 100%;
            color: var(--gray2);
            background-color: transparent;

            &svg {
                padding: 0;
            }

            &:hover {
                scale: var(--scale-s);
                color: var(--white);
            }
        }
    }
}

.modal-delete-station {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-delete-station-container {
        background-color: var(--white);
        color: var(--clr5);
        padding: 2rem;
        border-radius: 0.5rem;
        width: 400px;
    }
}