.station-details {
    min-width: 500px;
    background-color: var(--clr4);
    border-radius: var(--spacerem-s);

    .details-header-container {
        padding: 20px 20px 20px 24px;
        border-start-start-radius: var(--spacerem-s);
        border-start-end-radius: var(--spacerem-s);
        gap: calc(var(--spacepx-sm)*1.5);
        background-color: var(--clr1);

        /* img */
        .btn-station-img-container {
            position: relative;
            width: 232px;
            height: 232px;
            border-radius: 4px;
            background-color: var(--clr2);
            text-align: center;

            .btn-station-img {
                position: absolute;
                width: calc(var(--spacepx-sm)*3);
                height: calc(var(--spacepx-sm)*3);
                color: var(--gray3);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .hover-text {
                position: absolute;
                width: 80%;
                margin: 0;
                inset-block-end: 18px;

                bottom: 25%;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
            }

            &:hover {

                >* {
                    color: var(--gray1);
                }

                .hover-text {
                    opacity: 1;
                }
            }
        }

        /* text */
        .details-header-text {
            height: fit-content;
            gap: 5px;
            align-self: end;

            .details-station.station-name {
                margin: 0;
                line-height: 1.2;
                font-size: calc(var(--spacerem-sm)*6);
                font-weight: 800;
            }

            .station-type,
            .station-creator {
                font-size: 0.875rem;
                margin: 0;
            }

            .station-creator {
                font-weight: bold;

                .station-details-info {
                    margin: 0;
                }
            }
        }
    }

    .station-details-controller {

        & svg {
            padding: 12px;
            cursor: pointer;
        }

        .svg-play {
            position: relative;
            bottom: -55px;
            right: -24px;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            background-color: var(--clr-green, #1db954);

        }
    }

    .songs-list {
        grid-auto-flow: row;

        .songs-list-header,
        .songs-list-row {
            grid-auto-flow: column;
            grid-template-columns: 12px repeat(4, 1fr) 0.5fr;
            gap: var(--spacepx-sm);
            width: 100%;
            padding-inline: calc(var(--spacepx-sm)/2);

            .song-list-number {
                justify-self: end;

            }

            .song-list-title {
                justify-self: start;

                img {
                    margin-inline-end: 12px;
                }
            }

            .song-list-album {
                justify-self: start;
            }

            .song-list-date {
                justify-self: start;
            }


            .song-list-time {
                justify-self: start;
            }

            .song-list-display {
                display: none;
            }
        }
    }

}

.modal-delete-station {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modal-delete-station-container {
        background-color: var(--white);
        color: var(--clr5);
        padding: 2rem;
        border-radius: 0.5rem;
        width: 400px;
    }
}