.main-container {

    .station-details {
        min-width: 500px;
        background-color: var(--clr4);

        .details-header-container {
            margin-block-end: 16px;

            .btn-station-img-container {
                width: 128px;
                height: 128px;
                margin: 42px 16px 0;

                .btn-station-img {
                    width: 50%;
                    height: 50%;
                    place-self: center;
                    color: var(--gray3);

                    &:hover {
                        color: var(--gray1);
                        font-size: 1rem;
                    }
                }
            }

            .details-header-text {
                height: fit-content;
                align-self: end;

                .station-name {
                    margin: 0;
                    font-size: 2rem;
                    font-weight: 800;
                }

                .station-type,
                .station-creator {
                    font-size: 0.8125rem;
                }

                .station-creator {
                    font-weight: bold;
                    margin-block-start: 0.5rem;
                }
            }
        }
    }
}