.station-list {

    --min-column-size: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-size), 1fr));

    li {
        height: 246px;
        width: 196px;
        justify-content: center;
        place-items: center;
        cursor: pointer;
        border-radius: 10px;
        grid-auto-columns: minmax(200px, 1fr);
        


        &:hover {
            background-color: var(--clr2, #1f1f1f);
            border-radius: 10px;


            .svg-play {
                opacity: 1;
                transition: 0.3s;
                transform: translateY(-7px);
                box-shadow: 0 8px 8px rgba(0,0,0,.3);
                
                &:hover {
                    background-color: var(--clr-lightgreen, #1ed760);
                    scale: 1.05;
                }
            }
        }

        .actions {
            justify-self: end;

            & button {
                padding: .3em .5em;
            }
        }
    }

}

.station-list-container {
    flex-grow: 1;
    padding: 12px 28px 28px 28px;
    /* background-color: var(--gray2, #b3b3b3); */
    background-color: var(--clr4, #121212);
    border-radius: 8px;

    & .station-list {
        display: flex;
    }
}

.your-mixes {
    font-weight: 700;
    color: var(--white, #fff);
    font-size: 1.5rem;
    cursor: pointer;
    margin-inline-start: 12px;
    margin-block-start: 12px;

    &:hover {
        text-decoration: underline;
    }
}

.station-picture {
    margin: 12px 12px 0 12px;


}