.app-container {
    height: 100vh;
    background-color: var(--clr5);
    color: var(--gray2);
}

@media (min-width: 624px) {
    .app-container {
        padding: calc(var(--spacepx-sm) / 2);
        /* margin: calc(-1 * var(--spacepx-sm) / 2); */
        gap: calc(var(--spacepx-sm) / 2);

    }
}